<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoundBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SoundBoard.Properties.Settings>
            <setting name="baseSetting" serializeAs="String">
                <value />
            </setting>
        </SoundBoard.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="sb0" serializeAs="String">
                <value />
            </setting>
            <setting name="sb1" serializeAs="String">
                <value />
            </setting>
            <setting name="sb2" serializeAs="String">
                <value />
            </setting>
            <setting name="sb3" serializeAs="String">
                <value />
            </setting>
            <setting name="sb4" serializeAs="String">
                <value />
            </setting>
            <setting name="sb5" serializeAs="String">
                <value />
            </setting>
            <setting name="sb6" serializeAs="String">
                <value />
            </setting>
            <setting name="sb7" serializeAs="String">
                <value />
            </setting>
            <setting name="sb8" serializeAs="String">
                <value />
            </setting>
            <setting name="sb9" serializeAs="String">
                <value />
            </setting>
            <setting name="sb10" serializeAs="String">
                <value />
            </setting>
            <setting name="sb11" serializeAs="String">
                <value />
            </setting>
            <setting name="sb12" serializeAs="String">
                <value />
            </setting>
            <setting name="sb13" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>